<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Показатели температуры</title>
</head>
<body>
    <h1>Показатели температуры</h1>
    <ul>
        {% for time, temperature in temperature_data %}
            <li>{{ time }} минута: {{ temperature }}°C</li>
        {% endfor %}
    </ul>
    <img src="data:image/png;base64,{{ plot_image }}" alt="График температуры">
</body>
</html>

